In [231]:
#!/bin/python
#
# A Python wrapper for https://min-api.cryptocompare.com/
#
# Created on:       03/03/2018  Aditya Shirode
# Last modified:    03/03/2018  Aditya Shirode
#

In [188]:
import time
import yaml
import logging
import requests
import datetime
import pandas as pd

In [27]:
filename = 'api_queries.yaml'

In [145]:
with open(filename, 'r') as f:
    try:
        query_yaml = yaml.load(f)
    except yaml.YAMLError as e:
        logging.error(e)

In [59]:
API_ENDPOINT = query_yaml['api_endpoint']

In [115]:
def format_parameter(parameter):
    """ Format parameters for the query """
    if isinstance(parameter, list):
        return ','.join(parameter)
    else:
        return parameter

In [154]:
def get_url(query_name, **kwargs):
    """ Get formatted url for a required query 
        Pass the arguments to the query as keyword arguments
    """
    query_data = query_yaml[query_name]
    query_url = API_ENDPOINT + query_data['url']
    query_arguments = []
    # Check if all the required arguments are provided
    if 'required' in query_data['parameters'].keys() and \
    any(argument not in kwargs for argument in query_data['parameters']['required']):
        logging.error("Not all required arguments provided for {query}. "
                      "Required arguments are {args}.".format(query=query_name, args=query_data['parameters']['required']))
        return None
    else:
        possible_query_arguments = list(query_data.get('parameters', {}).get('required', {}).keys()) + \
        list(query_data.get('parameters', {}).get('additional',{}).keys())
        for argument, value in kwargs.items():
            if argument in possible_query_arguments:
                query_arguments.append("{argument}={value}".format(argument=argument, value=format_parameter(value)))
        
    query = query_url + '?' + '&'.join(query_arguments)
    return query

In [238]:
def query_cryptocompare(url):
    """ Query CryptoCompare API """
    try:
        response = requests.get(url).json()
    except Exception as e:
        logging.error("Failure while querying {query}. \n{err}".format(query=url, err=e))
        return None

    if not response or 'Response' not in response.keys():
        return response

    if response['Response'] is 'Error':
        logging.error("Failed to query {url}".format(url=url))
        return None
    return response

In [127]:
def convert_timestamp(timestamp):
    try:
        return datetime.datetime.fromtimestamp(int(timestamp)).strftime('%Y-%m-%d %H:%M:%S')
    except Exception as e:
        logging.error(e)
        return None

In [129]:
def get_data(response):
    """ Separate query data from response """
    header = {key: (value if key != 'Data' else len(value)) for key, value in response.items()}
    data = response['Data']
    return header, data

In [171]:
def get_readable_df(response):
    """ Convert timestamp into readable datetime """
    header, data = get_data(response)
    try:
        df_data = pd.DataFrame(data)
        df_data = df_data.rename(columns={'time': 'timestamp'})
        df_data['time'] = df_data.timestamp.apply(convert_timestamp)
        df_data = df_data.set_index('time')
        del df_data['timestamp']
    except AttributeError as e:
        logging.error(e)
        return None
    return df_data

----------------------------------

In [162]:
# Defaults
CURR = 'USD'
EXCHANGE = 'CCCAGG'
COIN = 'BTC'
COIN_LIST = ['BTC', 'ETH']
EXCHANGES = ['Kucoin', 'Cryptopia', 'HitBTC']

In [158]:
def get_coin_list():
    """ Get coin list """
    resp = query_cryptocompare(get_url('coinlist'))
    header, data = get_data(resp)
    return data

In [185]:
coins = get_coin_list()
COIN_DB = pd.DataFrame.from_dict(coins, orient='index')
print(COIN_DB.head())

        CoinName PreMinedValue  Sponsored                   Url Algorithm  \
007     007 coin           N/A      False   /coins/007/overview    Scrypt
1337        1337           N/A      False  /coins/1337/overview       X13
1CR      1Credit           N/A      False   /coins/1cr/overview    Scrypt
1ST   FirstBlood           N/A      False   /coins/1st/overview       N/A
2015   2015 coin           N/A      False  /coins/2015/overview       X11

     Symbol  Name SortOrder TotalCoinSupply TotalCoinsFreeFloat     Id  \
007     007   007       263          989800                 N/A   5294
1337   1337  1337       577    314159265359                 N/A  20824
1CR     1CR   1CR       374     92000000000                 N/A   5406
1ST     1ST   1ST       759        93468691                 N/A  28328
2015   2015  2015        33               0                 N/A   3744

                    ImageUrl ProofType          FullName FullyPremined  \
007    /media/350595/007.png       PoW    007 coin (007)             0
1337  /media/350976/1337.png   PoW/PoS       1337 (1337)             0
1CR     /media/20175/1cr.png       PoW     1Credit (1CR)             0
1ST    /media/351524/1st.png       N/A  FirstBlood (1ST)             1
2015   /media/20180/2015.png   PoW/PoS  2015 coin (2015)             0

      IsTrading
007        True
1337       True
1CR        True
1ST        True
2015       True

In [241]:
def get_exchanges_list():
    """ Get a list of all exchanges on CryptoCompare """
    data = query_cryptocompare(get_url('exchanges'))
    return data

In [248]:
exchanges = get_exchanges_list()
EXCHANGE_DB = pd.DataFrame.from_dict(e, orient='index')
print(EXCHANGE_DB.head())

                                  BTC                             LTC  \
Abucoins              [PLN, EUR, USD]                           [BTC]
BTC38                           [CNY]                      [BTC, CNY]
BTCChina                   [USD, CNY]                      [CNY, BTC]
BTCE        [RUB, CNH, GBP, USD, EUR]  [USD, GBP, CNH, BTC, RUB, EUR]
BTCMarkets                      [AUD]                      [AUD, BTC]

                                  ETH         XRP         ETC         BCH  \
Abucoins                   [PLN, BTC]       [BTC]       [BTC]  [BTC, PLN]
BTC38                           [CNY]  [CNY, BTC]       [CNY]         NaN
BTCChina                          NaN         NaN         NaN         NaN
BTCE        [LTC, RUB, USD, BTC, EUR]         NaN         NaN         NaN
BTCMarkets                 [AUD, BTC]  [BTC, AUD]  [BTC, AUD]  [AUD, BTC]

            XST PINK   C2  CVC ...  RND*   HT  ELA TOPC WICC CHAT*  WPR  POA  \
Abucoins    NaN  NaN  NaN  NaN ...   NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN
BTC38       NaN  NaN  NaN  NaN ...   NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN
BTCChina    NaN  NaN  NaN  NaN ...   NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN
BTCE        NaN  NaN  NaN  NaN ...   NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN
BTCMarkets  NaN  NaN  NaN  NaN ...   NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN

           NCASH YOYO
Abucoins     NaN  NaN
BTC38        NaN  NaN
BTCChina     NaN  NaN
BTCE         NaN  NaN
BTCMarkets   NaN  NaN

[5 rows x 4670 columns]

In [252]:
EXCHANGE_DB['BTC']

Abucoins                                            [PLN, EUR, USD]
BTC38                                                         [CNY]
BTCChina                                                 [USD, CNY]
BTCE                                      [RUB, CNH, GBP, USD, EUR]
BTCMarkets                                                    [AUD]
BTCXIndia                                                       NaN
BTER                                                  [BITUSD, CNY]
BXinth                                                        [THB]
Binance                                                      [USDT]
Bit2C                                                         [ILS]
BitBay                                              [USD, EUR, PLN]
BitFlip                                        [RUB, UAH, USD, EUR]
BitGrail                                                        NaN
BitMarket                                                [EUR, PLN]
BitSquare         [BRL, PLN, ZAR, ILS, GBP, CNY, AUD, VUV, JPY, ...
BitTrex                                               [USD, BITCNY]
BitZ                                                   [DKKT, USDT]
Bitfinex                                                 [EUR, USD]
Bithumb                                                       [KRW]
Bitso                                                         [MXN]
Bitstamp                                                 [EUR, USD]
Bleutrade                                               [DOGE, ETH]
CCEDK                [BITUSD, RUB, BITCNY, EUR, CNY, USD, GBP, DKK]
CCEX                                                     [USD, LTC]
CHBTC                                                         [CNY]
Cexio                                          [GBP, EUR, RUB, USD]
ChileBit                                                      [CLP]
Coinbase                                       [USD, GBP, EUR, CAD]
Coincheck                                                     [JPY]
Coinfloor                                      [EUR, PLN, USD, GBP]
                                        ...
Luno                                      [ZAR, SGD, IDR, NGN, MYR]
Lykke                         [CHF, GBP, EUR, USD, JPY, LKK, LKK1Y]
MercadoBitcoin                                                [BRL]
MonetaGo          [GBP, DKK, USD, ZAR, INR, HKD, CNY, EUR, MUR, ...
Novaexchange                                                    NaN
OKCoin                                              [LTC, USD, CNY]
OKEX                                                         [USDT]
Paymium                                                       [EUR]
Poloniex                                                      [USD]
QuadrigaCX                                               [USD, CAD]
Quoine            [JPY, PHP, EUR, USD, AUD, IDR, HKD, SGD, CNY, ...
Remitano          [TZS, PKR, CAD, SEK, MYR, NGN, INR, GBP, CNY, ...
Surbitcoin                                                    [VEF]
TheRockTrading                                           [EUR, USD]
Tidex                                            [WEUR, WUSD, USDT]
TradeSatoshi                                                 [USDT]
TrustDEX                                      [USDT, AIC, VND, USD]
TuxExchange                                                     NaN
Unocoin                                                       [INR]
VBTC                                                          [VND]
Vaultoro                                                     [GOLD]
ViaBTC                                                        [CNY]
WavesDEX                                    [WAVES, WTRY, EUR, USD]
Yacuna                                                   [GBP, EUR]
Yobit                                                    [USD, RUR]
Yunbi                                                 [CNY, BITUSD]
Zaif                                                          [JPY]
bitFlyer                                                 [USD, JPY]
bitFlyerFX                                                    [JPY]
itBit                                               [EUR, USD, SGD]
Name: BTC, Length: 86, dtype: object

In [166]:
def get_price(coin, to_curr=CURR, exchange=EXCHANGE, **kwargs):
    """ Get real time price of the coin """
    if isinstance(coin, list):
        return query_cryptocompare(
            get_url(
                'pricemulti',
                fsyms=coin,
                tsyms=to_curr,
                e=exchange,
                **kwargs
            )
        )
    else:
        return query_cryptocompare(
            get_url(
                'price',
                fsym=coin,
                tsyms=to_curr,
                e=exchange,
                **kwargs
            )
        )

In [186]:
print(get_price(COIN))
print(get_price(COIN_LIST))
print(get_price(COIN_LIST, ['USD', 'ETH', 'LTC']))

{'USD': 11209.35}
{'ETH': {'USD': 847.66}, 'BTC': {'USD': 11205.9}}
{'ETH': {'LTC': 4.1, 'USD': 847.66, 'ETH': 1}, 'BTC': {'LTC': 54.2, 'USD': 11205.9, 'ETH': 13.21}}

In [190]:
def get_historical_price_timestamp(coin, to_curr=CURR, timestamp=time.time(), exchange=EXCHANGE, **kwargs):
    """ Get value of coin in currency at a particular timestamp """
    if isinstance(timestamp, datetime.datetime):
        timestamp = time.mktime(timestamp.timetuple())
    
    return query_cryptocompare(
        get_url(
            'pricehistorical',
            fsym=coin,
            tsyms=to_curr,
            ts=int(timestamp),
            e=exchange,
            **kwargs
        )
    )

In [191]:
print(get_historical_price_timestamp(COIN))

{'BTC': {'USD': 11466.52}}

In [216]:
def get_historical_price_day(coin, to_curr=CURR, timestamp=time.time(), exchange=EXCHANGE, allData='false', **kwargs):
    """ Get price per day for the past month """
    resp = query_cryptocompare(
        get_url(
            'histoday',
            fsym=coin,
            tsym=to_curr,
            e=exchange,
            allData=allData,
            **kwargs
        )
    )
    return get_readable_df(resp)

def get_historical_price_last_day(*args, **kwargs):
    """ Get price for last day """
    return get_historical_price_day(*args, **kwargs, limit=1)

In [197]:
print(get_historical_price_day(COIN))

                        close      high       low      open  volumefrom  \
time
2018-02-01 16:00:00   8870.82   9147.93   7786.20   9114.73   322596.22
2018-02-02 16:00:00   9251.27   9504.37   8194.68   8872.87   139226.07
2018-02-03 16:00:00   8218.05   9400.99   7889.83   9251.27   164609.06
2018-02-04 16:00:00   6937.08   8391.29   6627.31   8218.05   341828.54
2018-02-05 16:00:00   7701.25   7932.38   5968.36   6936.43   495883.24
2018-02-06 16:00:00   7592.72   8572.68   7208.86   7701.25   271450.37
2018-02-07 16:00:00   8260.69   8643.94   7590.48   7593.78   193040.33
2018-02-08 16:00:00   8696.83   8743.20   7775.36   8259.26   162279.68
2018-02-09 16:00:00   8569.29   9081.49   8176.25   8696.83   155616.78
2018-02-10 16:00:00   8084.61   8573.35   7862.31   8569.32   123293.84
2018-02-11 16:00:00   8911.27   8997.34   8084.41   8084.61   124923.98
2018-02-12 16:00:00   8544.69   8955.15   8379.35   8911.17    98632.88
2018-02-13 16:00:00   9485.64   9508.22   8542.98   8544.69   133702.54
2018-02-14 16:00:00  10033.75  10223.58   9363.38   9485.64   168776.78
2018-02-15 16:00:00  10188.73  10303.14   9720.38  10033.75   105556.67
2018-02-16 16:00:00  11097.21  11119.45  10074.07  10188.73   123660.48
2018-02-17 16:00:00  10417.23  11288.34  10161.01  11097.21   154431.22
2018-02-18 16:00:00  11182.28  11265.96  10336.32  10418.12   108244.29
2018-02-19 16:00:00  11256.43  11802.23  11130.95  11182.28   142449.23
2018-02-20 16:00:00  10481.66  11295.58  10256.21  11256.78   183274.25
2018-02-21 16:00:00   9847.96  10941.57   9757.19  10481.66   175506.26
2018-02-22 16:00:00  10175.51  10420.67   9604.00   9847.96   139373.76
2018-02-23 16:00:00   9705.73  10528.00   9396.54  10175.51   125269.68
2018-02-24 16:00:00   9610.11   9873.79   9329.44   9705.73    82430.45
2018-02-25 16:00:00  10326.50  10457.51   9411.82   9610.11   117416.47
2018-02-26 16:00:00  10594.76  10879.38  10154.24  10326.50    99772.39
2018-02-27 16:00:00  10334.44  11067.76  10303.14  10594.76   105434.79
2018-02-28 16:00:00  10929.37  11090.30  10247.56  10334.44    88432.44
2018-03-01 16:00:00  11043.12  11191.94  10801.45  10929.37    77195.49
2018-03-02 16:00:00  11465.36  11530.66  11043.12  11043.12    71279.36
2018-03-03 16:00:00  11185.49  11469.27  11185.49  11465.36     6895.74

                         volumeto
time
2018-02-01 16:00:00  2.768760e+09
2018-02-02 16:00:00  1.253485e+09
2018-02-03 16:00:00  1.413207e+09
2018-02-04 16:00:00  2.534149e+09
2018-02-05 16:00:00  3.397597e+09
2018-02-06 16:00:00  2.159765e+09
2018-02-07 16:00:00  1.594674e+09
2018-02-08 16:00:00  1.348072e+09
2018-02-09 16:00:00  1.348923e+09
2018-02-10 16:00:00  1.013772e+09
2018-02-11 16:00:00  1.085922e+09
2018-02-12 16:00:00  8.533204e+08
2018-02-13 16:00:00  1.220863e+09
2018-02-14 16:00:00  1.666668e+09
2018-02-15 16:00:00  1.061828e+09
2018-02-16 16:00:00  1.327921e+09
2018-02-17 16:00:00  1.659704e+09
2018-02-18 16:00:00  1.186536e+09
2018-02-19 16:00:00  1.640344e+09
2018-02-20 16:00:00  1.982721e+09
2018-02-21 16:00:00  1.795952e+09
2018-02-22 16:00:00  1.399448e+09
2018-02-23 16:00:00  1.244484e+09
2018-02-24 16:00:00  7.930932e+08
2018-02-25 16:00:00  1.181729e+09
2018-02-26 16:00:00  1.060841e+09
2018-02-27 16:00:00  1.126075e+09
2018-02-28 16:00:00  9.524721e+08
2018-03-01 16:00:00  8.529085e+08
2018-03-02 16:00:00  8.122001e+08
2018-03-03 16:00:00  7.866483e+07

In [202]:
print(get_historical_price_last_day(coin='ZRX', to_curr='BTC', exchange='Binance'))

,close,high,low,open,volumefrom,volumeto
time,,,,,,
2018-03-02 16:00:00,0.00008,0.000086,0.000079,0.000085,1762322,144.73
2018-03-03 16:00:00,0.00008,0.000081,0.000079,0.000080,286341,22.81

In [206]:
def get_historical_price_day_full(*args, **kwargs):
    """ Get price per day for all time  """
    return get_historical_price_day(*args, **kwargs, allData='true')

In [207]:
print(get_historical_price_day_full(COIN))

                           close         high          low         open  \
time
2010-07-16 17:00:00      0.04951      0.04951      0.04951      0.04951
2010-07-17 17:00:00      0.08584      0.08585      0.05941      0.04951
2010-07-18 17:00:00      0.08080      0.09307      0.07723      0.08584
2010-07-19 17:00:00      0.07474      0.08181      0.07426      0.08080
2010-07-20 17:00:00      0.07921      0.07921      0.06634      0.07474
2010-07-21 17:00:00      0.05050      0.08181      0.05050      0.07921
2010-07-22 17:00:00      0.06262      0.06767      0.05050      0.05050
2010-07-23 17:00:00      0.05454      0.06161      0.05049      0.06262
2010-07-24 17:00:00      0.05050      0.05941      0.05050      0.05454
2010-07-25 17:00:00      0.05600      0.05600      0.05000      0.05050
2010-07-26 17:00:00      0.06000      0.06050      0.05300      0.05600
2010-07-27 17:00:00      0.05890      0.06200      0.05400      0.06000
2010-07-28 17:00:00      0.06990      0.06990      0.05710      0.05890
2010-07-29 17:00:00      0.06270      0.06980      0.05820      0.06990
2010-07-30 17:00:00      0.06785      0.06889      0.05600      0.06270
2010-07-31 17:00:00      0.06110      0.06500      0.06000      0.06785
2010-08-01 17:00:00      0.06000      0.06330      0.06000      0.06110
2010-08-02 17:00:00      0.06000      0.06500      0.05900      0.06000
2010-08-03 17:00:00      0.05700      0.06231      0.05700      0.06000
2010-08-04 17:00:00      0.06100      0.06100      0.05800      0.05700
2010-08-05 17:00:00      0.06230      0.06240      0.06070      0.06100
2010-08-06 17:00:00      0.05900      0.06220      0.05900      0.06230
2010-08-07 17:00:00      0.06090      0.06100      0.05900      0.05900
2010-08-08 17:00:00      0.07100      0.07350      0.05930      0.06090
2010-08-09 17:00:00      0.07000      0.07090      0.06651      0.07100
2010-08-10 17:00:00      0.06700      0.07541      0.06000      0.07000
2010-08-11 17:00:00      0.07000      0.07000      0.06141      0.06700
2010-08-12 17:00:00      0.06450      0.06800      0.06450      0.07000
2010-08-13 17:00:00      0.06700      0.06950      0.06450      0.06450
2010-08-14 17:00:00      0.06529      0.06700      0.06500      0.06700
...                          ...          ...          ...          ...
2018-02-02 16:00:00   9251.27000   9504.37000   8194.68000   8872.87000
2018-02-03 16:00:00   8218.05000   9400.99000   7889.83000   9251.27000
2018-02-04 16:00:00   6937.08000   8391.29000   6627.31000   8218.05000
2018-02-05 16:00:00   7701.25000   7932.38000   5968.36000   6936.43000
2018-02-06 16:00:00   7592.72000   8572.68000   7208.86000   7701.25000
2018-02-07 16:00:00   8260.69000   8643.94000   7590.48000   7593.78000
2018-02-08 16:00:00   8696.83000   8743.20000   7775.36000   8259.26000
2018-02-09 16:00:00   8569.29000   9081.49000   8176.25000   8696.83000
2018-02-10 16:00:00   8084.61000   8573.35000   7862.31000   8569.32000
2018-02-11 16:00:00   8911.27000   8997.34000   8084.41000   8084.61000
2018-02-12 16:00:00   8544.69000   8955.15000   8379.35000   8911.17000
2018-02-13 16:00:00   9485.64000   9508.22000   8542.98000   8544.69000
2018-02-14 16:00:00  10033.75000  10223.58000   9363.38000   9485.64000
2018-02-15 16:00:00  10188.73000  10303.14000   9720.38000  10033.75000
2018-02-16 16:00:00  11097.21000  11119.45000  10074.07000  10188.73000
2018-02-17 16:00:00  10417.23000  11288.34000  10161.01000  11097.21000
2018-02-18 16:00:00  11182.28000  11265.96000  10336.32000  10418.12000
2018-02-19 16:00:00  11256.43000  11802.23000  11130.95000  11182.28000
2018-02-20 16:00:00  10481.66000  11295.58000  10256.21000  11256.78000
2018-02-21 16:00:00   9847.96000  10941.57000   9757.19000  10481.66000
2018-02-22 16:00:00  10175.51000  10420.67000   9604.00000   9847.96000
2018-02-23 16:00:00   9705.73000  10528.00000   9396.54000  10175.51000
2018-02-24 16:00:00   9610.11000   9873.79000   9329.44000   9705.73000
2018-02-25 16:00:00  10326.50000  10457.51000   9411.82000   9610.11000
2018-02-26 16:00:00  10594.76000  10879.38000  10154.24000  10326.50000
2018-02-27 16:00:00  10334.44000  11067.76000  10303.14000  10594.76000
2018-02-28 16:00:00  10929.37000  11090.30000  10247.56000  10334.44000
2018-03-01 16:00:00  11043.12000  11191.94000  10801.45000  10929.37000
2018-03-02 16:00:00  11465.36000  11530.66000  11043.12000  11043.12000
2018-03-03 16:00:00  11172.78000  11469.27000  11172.78000  11465.36000

                     volumefrom      volumeto
time
2010-07-16 17:00:00       20.00  9.902000e-01
2010-07-17 17:00:00       75.01  5.090000e+00
2010-07-18 17:00:00      574.00  4.966000e+01
2010-07-19 17:00:00      262.00  2.059000e+01
2010-07-20 17:00:00      575.00  4.226000e+01
2010-07-21 17:00:00     2160.00  1.297800e+02
2010-07-22 17:00:00     2402.50  1.410700e+02
2010-07-23 17:00:00      496.32  2.673000e+01
2010-07-24 17:00:00     1551.48  8.506000e+01
2010-07-25 17:00:00      877.00  4.691000e+01
2010-07-26 17:00:00     3373.69  1.969200e+02
2010-07-27 17:00:00     4390.29  2.557600e+02
2010-07-28 17:00:00     8058.49  5.283200e+02
2010-07-29 17:00:00     3020.85  1.985300e+02
2010-07-30 17:00:00     4022.25  2.439000e+02
2010-07-31 17:00:00     2601.00  1.626500e+02
2010-08-01 17:00:00     3599.00  2.212000e+02
2010-08-02 17:00:00     9821.46  6.060500e+02
2010-08-03 17:00:00     3494.00  2.107700e+02
2010-08-04 17:00:00     5034.07  3.036100e+02
2010-08-05 17:00:00     1395.00  8.591000e+01
2010-08-06 17:00:00     2619.00  1.573400e+02
2010-08-07 17:00:00     2201.00  1.326000e+02
2010-08-08 17:00:00    13631.09  8.869300e+02
2010-08-09 17:00:00     1310.39  8.887000e+01
2010-08-10 17:00:00    14061.18  1.015640e+03
2010-08-11 17:00:00     2062.31  1.344900e+02
2010-08-12 17:00:00     3591.77  2.338000e+02
2010-08-13 17:00:00     4404.20  2.953100e+02
2010-08-14 17:00:00     4462.87  2.949500e+02
...                         ...           ...
2018-02-02 16:00:00   139226.07  1.253485e+09
2018-02-03 16:00:00   164609.06  1.413207e+09
2018-02-04 16:00:00   341828.54  2.534149e+09
2018-02-05 16:00:00   495883.24  3.397597e+09
2018-02-06 16:00:00   271450.37  2.159765e+09
2018-02-07 16:00:00   193040.33  1.594674e+09
2018-02-08 16:00:00   162279.68  1.348072e+09
2018-02-09 16:00:00   155616.78  1.348923e+09
2018-02-10 16:00:00   123293.84  1.013772e+09
2018-02-11 16:00:00   124923.98  1.085922e+09
2018-02-12 16:00:00    98632.88  8.533204e+08
2018-02-13 16:00:00   133702.54  1.220863e+09
2018-02-14 16:00:00   168776.78  1.666668e+09
2018-02-15 16:00:00   105556.67  1.061828e+09
2018-02-16 16:00:00   123660.48  1.327921e+09
2018-02-17 16:00:00   154431.22  1.659704e+09
2018-02-18 16:00:00   108244.29  1.186536e+09
2018-02-19 16:00:00   142449.23  1.640344e+09
2018-02-20 16:00:00   183274.25  1.982721e+09
2018-02-21 16:00:00   175506.26  1.795952e+09
2018-02-22 16:00:00   139373.76  1.399448e+09
2018-02-23 16:00:00   125269.68  1.244484e+09
2018-02-24 16:00:00    82430.45  7.930932e+08
2018-02-25 16:00:00   117416.47  1.181729e+09
2018-02-26 16:00:00    99772.39  1.060841e+09
2018-02-27 16:00:00   105434.79  1.126075e+09
2018-02-28 16:00:00    88432.44  9.524721e+08
2018-03-01 16:00:00    77195.49  8.529085e+08
2018-03-02 16:00:00    71279.36  8.122001e+08
2018-03-03 16:00:00     6895.74  7.866483e+07

[2788 rows x 6 columns]

In [213]:
def get_historical_price_hour(coin, to_curr=CURR, exchange=EXCHANGE, limit=168, **kwargs):
    """ Get price per hour for past 7 days """
    resp = query_cryptocompare(
        get_url(
            'histohour',
            fsym=coin,
            tsym=to_curr,
            e=exchange,
            limit=limit,
            **kwargs
        )
    )
    
    return get_readable_df(resp)

def get_historical_price_last_hour(*args, **kwargs):
    """ Get price for the last hour """
    return get_historical_price_hour(*args, **kwargs, limit=1)

In [217]:
coin_hour = get_historical_price_hour(COIN)
print(coin_hour.head())

,close,high,low,open,volumefrom,volumeto
time,,,,,,
2018-02-24 20:00:00,9736.85,9773.75,9569.94,9604.29,2813.50,27427635.50
2018-02-24 21:00:00,9744.90,9761.85,9657.98,9734.85,2098.89,20507152.91
2018-02-24 22:00:00,9803.16,9873.79,9744.90,9744.90,4627.24,45559332.39
2018-02-24 23:00:00,9765.49,9869.19,9733.21,9803.16,2607.10,25683166.59
2018-02-25 00:00:00,9640.76,9807.69,9628.24,9765.49,3544.44,34513251.04

In [226]:
def get_historical_price_minute(coin, to_curr=CURR, exchange=EXCHANGE, toTs=time.time(), **kwargs):
    """ Get price per min for past 24 hours """
    resp = query_cryptocompare(
        get_url(
            'histominute',
            fsym=coin,
            tsym=to_curr,
            e=exchange,
            toTs=int(toTs),
            **kwargs
        )
    )
    return get_readable_df(resp)

In [227]:
print(get_historical_price_minute(COIN))

,close,high,low,open,volumefrom,volumeto
time,,,,,,
2018-02-24 20:00:00,9736.85,9773.75,9569.94,9604.29,2813.50,27427635.50
2018-02-24 21:00:00,9744.90,9761.85,9657.98,9734.85,2098.89,20507152.91
2018-02-24 22:00:00,9803.16,9873.79,9744.90,9744.90,4627.24,45559332.39
2018-02-24 23:00:00,9765.49,9869.19,9733.21,9803.16,2607.10,25683166.59
2018-02-25 00:00:00,9640.76,9807.69,9628.24,9765.49,3544.44,34513251.04
2018-02-25 01:00:00,9634.87,9680.51,9568.78,9641.44,3134.09,30269350.38
2018-02-25 02:00:00,9685.93,9730.42,9595.03,9634.72,2129.38,20650260.87
2018-02-25 03:00:00,9684.82,9762.53,9652.03,9685.93,2486.88,24246596.81
2018-02-25 04:00:00,9553.82,9721.31,9532.10,9684.82,3297.74,31775242.94
2018-02-25 05:00:00,9515.96,9612.61,9446.79,9553.82,4289.72,40963106.82
2018-02-25 06:00:00,9424.04,9548.27,9422.95,9516.51,3945.29,37560631.63
2018-02-25 07:00:00,9439.12,9485.11,9329.44,9423.57,7812.84,73481237.06
2018-02-25 08:00:00,9427.47,9490.90,9407.92,9439.56,4142.56,39252348.99
2018-02-25 09:00:00,9387.29,9455.27,9380.47,9427.58,2790.15,26343118.24
2018-02-25 10:00:00,9467.23,9477.29,9335.70,9387.34,4643.38,43741090.29
2018-02-25 11:00:00,9498.22,9542.82,9427.96,9467.27,3210.06,30673459.97
2018-02-25 12:00:00,9607.19,9628.27,9484.87,9498.33,3230.78,31087613.30
2018-02-25 13:00:00,9620.68,9656.24,9551.59,9606.80,3208.17,30934930.55
2018-02-25 14:00:00,9691.52,9712.72,9570.94,9621.10,3470.02,33532495.84
2018-02-25 15:00:00,9610.11,9695.74,9571.39,9691.53,3082.06,29760875.09
2018-02-25 16:00:00,9607.00,9643.73,9563.96,9610.11,2181.88,21029210.48
2018-02-25 17:00:00,9748.52,9751.20,9606.30,9607.00,3457.57,33594741.86
2018-02-25 18:00:00,9759.90,9804.57,9701.05,9748.52,4307.55,42095872.84
2018-02-25 19:00:00,9644.89,9761.71,9611.56,9759.90,2952.16,28662212.51
2018-02-25 20:00:00,9697.60,9699.89,9603.82,9645.96,2620.51,25349883.36
2018-02-25 21:00:00,9639.93,9705.00,9592.21,9697.43,1996.85,19321871.13
2018-02-25 22:00:00,9452.48,9659.91,9442.86,9639.93,3119.86,29887137.48
2018-02-25 23:00:00,9509.37,9521.11,9441.00,9452.48,2269.07,21622606.59
2018-02-26 00:00:00,9471.18,9512.14,9411.82,9508.87,3121.59,29573869.47
2018-02-26 01:00:00,9503.44,9560.51,9469.49,9469.49,2495.02,23850433.59
...,...,...,...,...,...,...
2018-03-02 15:00:00,11043.12,11138.88,10977.63,11127.77,3309.80,36658394.08
2018-03-02 16:00:00,11101.36,11115.98,11043.12,11043.12,2042.12,22726504.44
2018-03-02 17:00:00,11235.00,11255.94,11101.28,11101.34,5454.15,61223568.87
2018-03-02 18:00:00,11329.89,11372.17,11210.40,11235.34,6199.06,70243575.04
2018-03-02 19:00:00,11327.09,11356.06,11272.72,11329.89,3046.03,34604018.99
2018-03-02 20:00:00,11378.53,11402.20,11325.60,11327.09,3170.01,36102617.74
2018-03-02 21:00:00,11344.65,11386.30,11310.95,11377.90,2807.76,31928237.21
2018-03-02 22:00:00,11350.84,11410.50,11338.99,11345.05,3956.32,45140639.21
2018-03-02 23:00:00,11322.40,11396.22,11313.59,11350.80,2471.34,28234036.96
2018-03-03 00:00:00,11359.41,11365.16,11267.40,11322.49,2412.62,27409394.72
2018-03-03 01:00:00,11340.39,11371.56,11300.06,11359.80,1621.99,18463722.03
2018-03-03 02:00:00,11330.62,11352.94,11324.04,11340.51,1713.40,19488325.60
2018-03-03 03:00:00,11292.24,11352.12,11284.33,11330.62,2313.42,26295424.43
2018-03-03 04:00:00,11418.56,11440.25,11290.31,11291.39,2898.75,33133094.96
2018-03-03 05:00:00,11461.71,11485.21,11400.77,11418.82,3474.52,39890965.41
2018-03-03 06:00:00,11434.96,11484.47,11405.08,11461.47,3027.36,34705262.70
2018-03-03 07:00:00,11477.00,11500.96,11413.17,11434.96,2949.46,33853299.98
2018-03-03 08:00:00,11478.17,11496.07,11455.50,11477.00,1820.90,20993681.86
2018-03-03 09:00:00,11523.20,11530.66,11437.26,11478.17,3249.76,37461196.45
2018-03-03 10:00:00,11494.74,11526.65,11468.23,11523.20,1671.12,19287166.30
2018-03-03 11:00:00,11488.31,11509.66,11474.33,11494.78,1749.06,20210897.01
2018-03-03 12:00:00,11326.17,11495.96,11279.71,11488.77,5712.68,65018191.86
2018-03-03 13:00:00,11315.91,11368.99,11289.81,11326.17,2648.30,30129552.45
2018-03-03 14:00:00,11408.76,11423.19,11311.44,11316.72,2351.68,26800443.77
2018-03-03 15:00:00,11465.36,11479.81,11396.80,11408.81,2517.57,28856308.22
2018-03-03 16:00:00,11375.03,11469.27,11373.83,11465.36,1834.21,21041050.29
2018-03-03 17:00:00,11409.00,11424.17,11375.03,11375.03,1407.93,16157534.39
2018-03-03 18:00:00,11347.32,11411.89,11305.19,11407.89,2149.92,24461529.76
2018-03-03 19:00:00,11198.27,11348.88,11165.14,11347.75,4371.28,49233170.27
2018-03-03 20:00:00,11191.81,11213.06,11141.97,11198.27,1088.74,12218239.16

In [229]:
def get_historical_price_minute_by_day(*args, days_ago=0, **kwargs):
    """ Get price per min for 24 hours till days_ago """
    if days_ago > 7:
        logging.error("Can not get information by minute for more than 7 days. Getting information for last possible day.")
        days_ago = 7
    days_ago -= 1  # Subtracting one day as toTs considers ending timestamp
    ts = datetime.datetime.today() - datetime.timedelta(days_ago)
    ts = time.mktime(ts.timetuple())
    return get_historical_price_minute(*args, **kwargs, toTs=int(ts))

In [230]:
print(get_historical_price_minute_by_day(COIN, days_ago=7))

,close,high,low,open,volumefrom,volumeto
time,,,,,,
2018-02-18 20:00:00,10546.87,10599.84,10541.07,10555.30,1602.37,1.697759e+07
2018-02-18 21:00:00,10487.39,10580.04,10424.33,10547.46,3198.06,3.357902e+07
2018-02-18 22:00:00,10508.12,10536.18,10469.99,10490.08,1407.42,1.485090e+07
2018-02-18 23:00:00,10844.83,10874.74,10506.35,10508.15,6928.86,7.455671e+07
2018-02-19 00:00:00,10807.53,10860.22,10740.28,10846.15,4755.65,5.151725e+07
2018-02-19 01:00:00,10947.85,10961.28,10749.17,10807.53,4585.55,5.007194e+07
2018-02-19 02:00:00,10923.84,11061.68,10918.47,10947.85,7128.29,7.862320e+07
2018-02-19 03:00:00,10958.61,10989.08,10873.27,10924.30,3073.40,3.385431e+07
2018-02-19 04:00:00,10917.27,11026.95,10898.90,10958.61,3423.69,3.769516e+07
2018-02-19 05:00:00,10962.99,10979.78,10876.45,10917.25,2666.75,2.921004e+07
2018-02-19 06:00:00,10960.68,11009.41,10914.99,10962.99,2761.67,3.042090e+07
2018-02-19 07:00:00,11186.14,11215.06,10960.68,10960.68,8494.94,9.474066e+07
2018-02-19 08:00:00,11092.49,11265.96,11087.47,11186.14,8200.68,9.206225e+07
2018-02-19 09:00:00,10964.22,11114.58,10929.83,11092.55,8065.33,8.927794e+07
2018-02-19 10:00:00,11112.41,11138.40,10961.22,10964.81,4839.86,5.374464e+07
2018-02-19 11:00:00,11156.02,11215.59,11047.01,11112.33,4402.70,4.925185e+07
2018-02-19 12:00:00,11235.73,11238.53,11089.65,11152.91,3810.20,4.270790e+07
2018-02-19 13:00:00,11103.22,11242.62,11030.06,11235.76,7192.08,8.018947e+07
2018-02-19 14:00:00,11095.72,11186.17,11070.52,11103.18,3447.25,3.848794e+07
2018-02-19 15:00:00,11182.28,11207.18,11067.19,11095.72,3288.41,3.674227e+07
2018-02-19 16:00:00,11431.66,11445.15,11172.80,11182.28,11268.72,1.282067e+08
2018-02-19 17:00:00,11496.48,11525.62,11416.02,11431.66,8805.90,1.012070e+08
2018-02-19 18:00:00,11389.96,11513.10,11368.94,11496.48,4638.02,5.339749e+07
2018-02-19 19:00:00,11443.55,11454.54,11342.85,11393.65,3275.50,3.748751e+07
2018-02-19 20:00:00,11481.01,11542.50,11440.09,11443.55,3546.43,4.087822e+07
2018-02-19 21:00:00,11465.72,11490.37,11413.23,11481.29,2927.07,3.363119e+07
2018-02-19 22:00:00,11584.39,11585.33,11455.59,11465.72,3835.63,4.426103e+07
2018-02-19 23:00:00,11561.46,11667.31,11527.77,11584.39,5373.64,6.249111e+07
2018-02-20 00:00:00,11377.54,11585.40,11326.11,11560.93,5837.61,6.702405e+07
2018-02-20 01:00:00,11365.87,11392.79,11225.79,11377.54,7454.12,8.444425e+07
...,...,...,...,...,...,...
2018-02-24 15:00:00,9705.73,9735.39,9633.13,9633.13,3261.38,3.168699e+07
2018-02-24 16:00:00,9654.84,9706.94,9583.62,9705.73,2993.87,2.894885e+07
2018-02-24 17:00:00,9777.50,9786.38,9653.12,9654.81,3011.27,2.939590e+07
2018-02-24 18:00:00,9634.83,9780.16,9626.77,9777.50,2720.23,2.654067e+07
2018-02-24 19:00:00,9604.29,9636.40,9522.31,9634.88,3140.80,3.024488e+07
2018-02-24 20:00:00,9736.85,9773.75,9569.94,9604.29,2813.50,2.742764e+07
2018-02-24 21:00:00,9744.90,9761.85,9657.98,9734.85,2098.89,2.050715e+07
2018-02-24 22:00:00,9803.16,9873.79,9744.90,9744.90,4627.24,4.555933e+07
2018-02-24 23:00:00,9765.49,9869.19,9733.21,9803.16,2607.10,2.568317e+07
2018-02-25 00:00:00,9640.76,9807.69,9628.24,9765.49,3544.44,3.451325e+07
2018-02-25 01:00:00,9634.87,9680.51,9568.78,9641.44,3134.09,3.026935e+07
2018-02-25 02:00:00,9685.93,9730.42,9595.03,9634.72,2129.38,2.065026e+07
2018-02-25 03:00:00,9684.82,9762.53,9652.03,9685.93,2486.88,2.424660e+07
2018-02-25 04:00:00,9553.82,9721.31,9532.10,9684.82,3297.74,3.177524e+07
2018-02-25 05:00:00,9515.96,9612.61,9446.79,9553.82,4289.72,4.096311e+07
2018-02-25 06:00:00,9424.04,9548.27,9422.95,9516.51,3945.29,3.756063e+07
2018-02-25 07:00:00,9439.12,9485.11,9329.44,9423.57,7812.84,7.348124e+07
2018-02-25 08:00:00,9427.47,9490.90,9407.92,9439.56,4142.56,3.925235e+07
2018-02-25 09:00:00,9387.29,9455.27,9380.47,9427.58,2790.15,2.634312e+07
2018-02-25 10:00:00,9467.23,9477.29,9335.70,9387.34,4643.38,4.374109e+07
2018-02-25 11:00:00,9498.22,9542.82,9427.96,9467.27,3210.06,3.067346e+07
2018-02-25 12:00:00,9607.19,9628.27,9484.87,9498.33,3230.78,3.108761e+07
2018-02-25 13:00:00,9620.68,9656.24,9551.59,9606.80,3208.17,3.093493e+07
2018-02-25 14:00:00,9691.52,9712.72,9570.94,9621.10,3470.02,3.353250e+07
2018-02-25 15:00:00,9610.11,9695.74,9571.39,9691.53,3082.06,2.976088e+07
2018-02-25 16:00:00,9607.00,9643.73,9563.96,9610.11,2181.88,2.102921e+07
2018-02-25 17:00:00,9748.52,9751.20,9606.30,9607.00,3457.57,3.359474e+07
2018-02-25 18:00:00,9759.90,9804.57,9701.05,9748.52,4307.55,4.209587e+07
2018-02-25 19:00:00,9644.89,9761.71,9611.56,9759.90,2952.16,2.866221e+07
2018-02-25 20:00:00,9697.60,9699.89,9603.82,9645.96,2620.51,2.534988e+07